<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
  
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>

  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--<add key="SMTPServerAddress" value="SP-HV01"/>-->
    <add key="SMTPServerAddress" value="smtp.gmail.com"/>
    <add key="SmtpUserName" value="advancedtest007@gmail.com" />
    <add key="SmtpPassword" value="oakadmin" />
    <add key="SmtpClientPort" value="587"/>

    <add key="PaswordEmailSubjectLine" value="SMS portal access"/>
    <add key="PasswordEmailFromAddress" value="advancedtest007@gmail.com"/>
    <!--<add key="PasswordEmailFromAddress" value="noreply@advancedcomputersoftware.com" />-->
    
    <add key="ServiceCode" value="13" />
    <add key="MinPasswordLength" value="6"/>

    <add key="InvoiceLogFilePath" value="E:\Projects\SMSPortal\LOGS_Invoice"/>
    <add key="Pricelist_MinPrice" value="2.5"/>
    
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    
    <customErrors mode="On" defaultRedirect="~/Account/Error" />

    <sessionState timeout="20" />
      
    <authentication mode="Forms"> <!-- This is required -->      
    
      <forms timeout="5" slidingExpiration="true" loginUrl="~/Account/Login" cookieless="UseCookies" name="MyAuthCookie" />
      
    </authentication>
  
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    
    <httpRuntime targetFramework="4.5" />


    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>

    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>

  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <!--Database Connection-->
  <connectionStrings>
     <add name="SMSPortalConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SMS Portal;User ID=smsportal;Password=smsportal"
         providerName="System.Data.SqlClient" />
    <!-- <add name="SMSPortalConnectionString" connectionString="Data Source=SICLOPS-APPSRV;Initial Catalog=SMS Portal Dev;User ID=smsportal;Password=smsportal"
        providerName="System.Data.SqlClient" />-->
    
    <add name="CassiaConnectionString" connectionString="Data Source=MIHIRMEHTA;Initial Catalog=CassiaBeta;User ID=smsportal;Password=smsportal"
        providerName="System.Data.SqlClient" />
  </connectionStrings>


  <elmah>
    <security allowRemoteAccess="no"  />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />
  </elmah>


  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </modules>

    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>

  </system.webServer>

</configuration>