<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SMSPortalConnectionString" connectionString="Data Source=.;Initial Catalog=SMS_Portal;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>